src/META-INF/wsdl/localhost_8080/homework13_Ex1.2_client/StudentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="StudentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/componentBaseW13_Ex2/StudentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="removeStudent">
<part name="parameters" element="tns:removeStudent"/>
</message>
<message name="removeStudentResponse">
<part name="parameters" element="tns:removeStudentResponse"/>
</message>
<message name="insertStudent">
<part name="parameters" element="tns:insertStudent"/>
</message>
<message name="insertStudentResponse">
<part name="parameters" element="tns:insertStudentResponse"/>
</message>
<message name="findStudentById">
<part name="parameters" element="tns:findStudentById"/>
</message>
<message name="findStudentByIdResponse">
<part name="parameters" element="tns:findStudentByIdResponse"/>
</message>
<message name="findAllStudent">
<part name="parameters" element="tns:findAllStudent"/>
</message>
<message name="findAllStudentResponse">
<part name="parameters" element="tns:findAllStudentResponse"/>
</message>
<portType name="StudentWebService">
<operation name="updateStudent">
<input wsam:Action="http://services/StudentWebService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://services/StudentWebService/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="removeStudent">
<input wsam:Action="http://services/StudentWebService/removeStudentRequest" message="tns:removeStudent"/>
<output wsam:Action="http://services/StudentWebService/removeStudentResponse" message="tns:removeStudentResponse"/>
</operation>
<operation name="insertStudent">
<input wsam:Action="http://services/StudentWebService/insertStudentRequest" message="tns:insertStudent"/>
<output wsam:Action="http://services/StudentWebService/insertStudentResponse" message="tns:insertStudentResponse"/>
</operation>
<operation name="findStudentById">
<input wsam:Action="http://services/StudentWebService/findStudentByIdRequest" message="tns:findStudentById"/>
<output wsam:Action="http://services/StudentWebService/findStudentByIdResponse" message="tns:findStudentByIdResponse"/>
</operation>
<operation name="findAllStudent">
<input wsam:Action="http://services/StudentWebService/findAllStudentRequest" message="tns:findAllStudent"/>
<output wsam:Action="http://services/StudentWebService/findAllStudentResponse" message="tns:findAllStudentResponse"/>
</operation>
</portType>
<binding name="StudentWebServicePortBinding" type="tns:StudentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStudentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWebService">
<port name="StudentWebServicePort" binding="tns:StudentWebServicePortBinding">
<soap:address location="http://localhost:8080/componentBaseW13_Ex2/StudentWebService"/>
</port>
</service>
</definitions>